body {
  margin-top: 20px;
  background-color: green;
  font-family: 'Press Start 2P', sans-serif;
}

#gameOver {
  display: none;
  font-size: 48px;
  font-family: 'Press Start 2P', sans-serif;
}

#gameWon {
  display: none;
}

label {
    font-size: 18px;
    color: white;
}

.userInputs {
  display: none;
}

input {
  text-align: center;
}

#wordBlanks, #wrongGuess {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
}

.wordBlanks {
  text-align: center;
}

h1  {
  text-align: center;
  color: white;
}
